## 1. PANDAS & NUMPY (25 points)

- complete 10 questions below
- for Pandas exercise, please use provided __sales_reps_data.csv__ file
- it would be a good idea to familiarise yourself with the .csv file first.

In [2]:
# 1. load sales_reps_data.csv file with Pandas as dataframe
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sales_reps_data = pd.read_csv("sales_reps_data.csv")
print(sales_reps_data)

          date   region sales_rep     item  qty  unit_price    total
0   01/06/2019     East     Jones   Pencil   95        1.99   189.05
1      1/23/19  Central    Kivell   Binder   50       19.99   999.50
2   02/09/2019  Central   Jardine   Pencil   36        4.99   179.64
3      2/26/19  Central      Gill      Pen   27       19.99   539.73
4      3/15/19     West   Sorvino   Pencil   56        2.99   167.44
5   04/01/2019     East     Jones   Binder   60        4.99   299.40
6      4/18/19  Central   Andrews   Pencil   75        1.99   149.25
7   05/05/2019  Central   Jardine   Pencil   90        4.99   449.10
8      5/22/19     West  Thompson   Pencil   32        1.99    63.68
9   06/08/2019     East     Jones   Binder   60        8.99   539.40
10     6/25/19  Central    Morgan   Pencil   90        4.99   449.10
11  07/12/2019     East    Howard   Binder   29        1.99    57.71
12     7/29/19     East    Parent   Binder   81       19.99  1619.19
13     8/15/19     East     Jones   Pencil   35        4.99   174.65
14  09/01/2019  Central     Smith     Desk    2      125.00   250.00
15     9/18/19     East     Jones  Pen Set   16       15.99   255.84
16  10/05/2019  Central    Morgan   Binder   28        8.99   251.72
17    10/22/19     East     Jones      Pen   64        8.99   575.36
18  11/08/2019     East    Parent      Pen   15       19.99   299.85
19    11/25/19  Central    Kivell  Pen Set   96        4.99   479.04
20  12/12/2019  Central     Smith   Pencil   67        1.29    86.43
21    12/29/19     East    Parent  Pen Set   74       15.99  1183.26
22     1/15/20  Central      Gill   Binder   46        8.99   413.54
23  02/01/2020  Central     Smith   Binder   87       15.00  1305.00
24     2/18/20     East     Jones   Binder    4        4.99    19.96
25  03/07/2020     West   Sorvino   Binder    7       19.99   139.93
26     3/24/20  Central   Jardine  Pen Set   50        4.99   249.50
27  04/10/2020  Central   Andrews   Pencil   66        1.99   131.34
28     4/27/20     East    Howard      Pen   96        4.99   479.04
29     5/14/20  Central      Gill   Pencil   53        1.29    68.37
30     5/31/20  Central      Gill   Binder   80        8.99   719.20
31     6/17/20  Central    Kivell     Desk    5      125.00   625.00
32  07/04/2020     East     Jones  Pen Set   62        4.99   309.38
33     7/21/20  Central    Morgan  Pen Set   55       12.49   686.95
34  08/07/2020  Central    Kivell  Pen Set   42       23.95  1005.90
35     8/24/20     West   Sorvino     Desk    3      275.00   825.00
36  09/10/2020  Central      Gill   Pencil    7        1.29     9.03
37     9/27/20     West   Sorvino      Pen   76        1.99   151.24
38    10/14/20     West  Thompson   Binder   57       19.99  1139.43
39    10/31/20  Central   Andrews   Pencil   14        1.29    18.06
40    11/17/20  Central   Jardine   Binder   11        4.99    54.89
41  12/04/2020  Central   Jardine   Binder   94       19.99  1879.06
42    12/21/20  Central   Andrews   Binder   28        4.99   139.72

In [5]:
# 2. print the first and last five rows
import pandas as pd
df = pd.read_csv('sales_reps_data.csv')
result = df.head(5)
print("First 5 rows are:")
print(result)
df = pd.read_csv('sales_reps_data.csv')
result = df.tail(5)
print("last 5 rows are:")
print(result)

First 5 rows are:
         date   region sales_rep    item  qty  unit_price   total
0  01/06/2019     East     Jones  Pencil   95        1.99  189.05
1     1/23/19  Central    Kivell  Binder   50       19.99  999.50
2  02/09/2019  Central   Jardine  Pencil   36        4.99  179.64
3     2/26/19  Central      Gill     Pen   27       19.99  539.73
4     3/15/19     West   Sorvino  Pencil   56        2.99  167.44
last 5 rows are:
          date   region sales_rep    item  qty  unit_price    total
38    10/14/20     West  Thompson  Binder   57       19.99  1139.43
39    10/31/20  Central   Andrews  Pencil   14        1.29    18.06
40    11/17/20  Central   Jardine  Binder   11        4.99    54.89
41  12/04/2020  Central   Jardine  Binder   94       19.99  1879.06
42    12/21/20  Central   Andrews  Binder   28        4.99   139.72

In [7]:
#3. Find names of the sales reps who sold the most items (qty) and what are those items
df = pd.read_csv("sales_reps_data.csv")
sales_rep = df.groupby('sales_rep')
most_items = sales_rep['item','qty'].max()
most_items.sort_values(by='qty', ascending=False)

              item  qty
sales_rep
Howard         Pen   96
Kivell     Pen Set   96
Jones       Pencil   95
Jardine     Pencil   94
Morgan      Pencil   90
Smith       Pencil   87
Parent     Pen Set   81
Gill        Pencil   80
Sorvino     Pencil   76
Andrews     Pencil   75
Thompson    Pencil   57

In [8]:
# 4. Print details(records) for sales rep called 'Jones'
jones_records = df[df['sales_rep'] == 'Jones']
print(jones_records)

          date region sales_rep     item  qty  unit_price   total
0   01/06/2019   East     Jones   Pencil   95        1.99  189.05
5   04/01/2019   East     Jones   Binder   60        4.99  299.40
9   06/08/2019   East     Jones   Binder   60        8.99  539.40
13     8/15/19   East     Jones   Pencil   35        4.99  174.65
15     9/18/19   East     Jones  Pen Set   16       15.99  255.84
17    10/22/19   East     Jones      Pen   64        8.99  575.36
24     2/18/20   East     Jones   Binder    4        4.99   19.96
32  07/04/2020   East     Jones  Pen Set   62        4.99  309.38

In [9]:
# 5. Get each item's highest price
item_ = df.groupby('item')
item_highest_price = item_['item','unit_price'].max()
item_highest_price

            item  unit_price
item
Binder    Binder       19.99
Desk        Desk      275.00
Pen          Pen       19.99
Pen Set  Pen Set       23.95
Pencil    Pencil        4.99

In [10]:
# 6. Find the average price of each unit
item_ = df.groupby('item')
average_price = item_['item','unit_price'].mean()
average_price

         unit_price
item
Binder    11.524000
Desk     175.000000
Pen       11.190000
Pen Set   11.912857
Pencil     2.774615

In [11]:
# 7. Sort all sales records by 'region' and 'total' columns
sales_record = df.sort_values(by=['region', 'total'])
sales_record.head(20)

          date   region sales_rep     item  qty  unit_price   total
36  09/10/2020  Central      Gill   Pencil    7        1.29    9.03
39    10/31/20  Central   Andrews   Pencil   14        1.29   18.06
40    11/17/20  Central   Jardine   Binder   11        4.99   54.89
29     5/14/20  Central      Gill   Pencil   53        1.29   68.37
20  12/12/2019  Central     Smith   Pencil   67        1.29   86.43
27  04/10/2020  Central   Andrews   Pencil   66        1.99  131.34
42    12/21/20  Central   Andrews   Binder   28        4.99  139.72
6      4/18/19  Central   Andrews   Pencil   75        1.99  149.25
2   02/09/2019  Central   Jardine   Pencil   36        4.99  179.64
26     3/24/20  Central   Jardine  Pen Set   50        4.99  249.50
14  09/01/2019  Central     Smith     Desk    2      125.00  250.00
16  10/05/2019  Central    Morgan   Binder   28        8.99  251.72
22     1/15/20  Central      Gill   Binder   46        8.99  413.54
7   05/05/2019  Central   Jardine   Pencil   90        4.99  449.10
10     6/25/19  Central    Morgan   Pencil   90        4.99  449.10
19    11/25/19  Central    Kivell  Pen Set   96        4.99  479.04
3      2/26/19  Central      Gill      Pen   27       19.99  539.73
31     6/17/20  Central    Kivell     Desk    5      125.00  625.00
33     7/21/20  Central    Morgan  Pen Set   55       12.49  686.95
30     5/31/20  Central      Gill   Binder   80        8.99  719.20

In [12]:
# 8.  Using NumPy create a 4X3 integer array from a range between 200 to 440  
# such that the difference between each element is 20
import numpy as np
arr = np.arange(200,440, 20)
arr= arr.reshape(4,3)
arr

array([[200, 220, 240],
       [260, 280, 300],
       [320, 340, 360],
       [380, 400, 420]])

In [13]:
# 9. Create a new array like --> array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100])
# then multiply every element in the array by 2.
new_arr = np.arange(0, 110, 10)
new_arr * 2

array([  0,  20,  40,  60,  80, 100, 120, 140, 160, 180, 200])

In [14]:
# 10. Find the unique elements in an array [5,5,11,11,2,3,4,8,14,14,15,5]
arr_ = [5,5,11,11,2,3,4,8,14,14,15,5]
unique_array = np.unique(arr_)
unique_array

array([ 2,  3,  4,  5,  8, 11, 14, 15])

## 2. VISUALIZATION MATPLOTLIB (25 points / 15 points)


#### 25 points
- use already familiar __sales_reps_data.csv__ file 
- you need to process your data using grouby manupilation to prepare it for plotting (follow prompts below).
- you can see how the data should be shaped by checking __sales_resp_data_aggregated.csv__
- build a Pie Chart as described below. 

#### 15 points
- if you are not able to perform groupby operations to prepare data for plotting, then use __sales_resp_data_aggregated.csv__ file.
- build a Pie Chart as described below.

In [15]:
# 1. load  sales_reps_data.csv file to a dataframe


# 2. Prepare a new subset from the original data, aggregating sales records by sales representative and summing up
# their total amount of sales (check sales_resp_data_aggregated.csv file to see what needs to be achieved)

"""
HINT: How to rename a column? 

 - sometimes when you group by column A and sum up colum B values, you lose the name of column B
 - below is the example of how to name the column B after group by
 - it is the equivalent of SQL: SELECT columnA, sum(columnB) as 'Total'

Example:
  new_df = <your groupby and sum code goes here>.reset_index(name ='total_amount')

"""

"\nHINT: How to rename a column? \n\n - sometimes when you group by column A and sum up colum B values, you lose the name of column B\n - below is the example of how to name the column B after group by\n - it is the equivalent of SQL: SELECT columnA, sum(columnB) as 'Total'\n\nExample:\n  new_df = <your groupby and sum code goes here>.reset_index(name ='total_amount')\n\n"

In [ ]:
# 3. Using matplotlib create a Pie plot to show proportion of sales contribution to the total sales by each sales rep.

## 3. MACHINE LEARNING QUESTIONS (25 points)

- this is purely theoretical task, NO CODING required
- answer 5 questions below using Markdown cells to write your answers
- note that you only need to provide brief answers to each question in your own words and examples where applicable.


### Q1: What is Machine Leanring?
A stream of research of artificial intelligence (AI) and computer science called machine learning . It mainly focuses on using data and algorithms to simulate how humans learn, gradually increasing the accuracy of the system.

Machine learning is important because it allows businesses see patterns in customer activity, operational behaviour and facilitates the development of new products. Machine learning is a key component of the operations of many of today's top corporations, including Facebook, Google, and Uber. For many businesses, machine learning now significantly differentiates them from their competitors.


### Q2: What are the key principles of 'Supervised' Machine learning?
The key principle behind supervised learning models is that we construct them using data that contains values for all of the model's inputs and outputs.

We require a data collection with information on income and the other demographic parameters for a large number of people in order to create a supervised learning model for an income problem.

A supervised learning model will investigate the correlation between each individual's input and output values.

After that, it creates a mathematical formula that connects the inputs and output.


### Q3: With regards to Machine Learning Model Fitting, what do we mean my Underfitting and Overfitting?
Overfitting and underfitting are the two biggest causes for poor performance of machine learning algorithms.
Overfitting in machine learning:
When a model fits the training data too well, it is said to be overfit.
When a model learns the information and noise in the training data to the point where it adversely affects the model's performance on fresh data, this is known as overfitting. This indicates that the machine learns concepts from the noise or random oscillations in the training data. These ideas don't apply to fresh data, which poses a difficulty for the models' capacity to generalise.

Nonparametric and nonlinear models, which have more flexibility while learning a target function, are more likely to exhibit overfitting. To limit and constrain how much detail the model learns, several nonparametric machine learning algorithms also contain parameters or strategies.

For instance, decision trees are a nonparametric machine learning technique that can overfit training data and is very versatile. After a tree learns, it can be pruned to remove part of the detail it has absorbed to solve this problem.

Underfitting in machine learning
A model is said to be underfit when it is unable to both model the training data and generalise to new data.

A machine learning model that is underfit is not appropriate and will be visible since it will perform poorly on the training data.

Since underfitting is simple to identify with a strong performance metric, it is frequently not emphasised. Moving on and experimenting with other machine learning methods is the solution. However, it does offer a useful counterpoint to the overfitting issue.


### Q4: Explain how do we ususally split data in preparation for the Machine Learning process?
The Purpose of splitting data into the different category is to avoid overfitting

Ethically, it is suggested to divide your dataset into three parts to avoid overfitting and model selection bias called -

1.Training set (Has to be the largest set)
2.Cross-Validation set or Development set or Dev set
3.Testing Set

1. Training set
The actual subset of the dataset that we utilise to train the model, or the sample of data that was used to fit the model (estimating the weights and biases in the case of Neural Network). This data is observed, the model learns from it, and its parameters are optimised.
2. Cross validation set
We select the appropriate model or the degree of the polynomial (if using regression model only) by minimizing the error on the cross-validation set.
3.test set
the subset of data that was used to impartially assess how well a final model fit the training dataset. Once the model has fully trained using the training and validation sets, it is only used. Therefore, the test set is used to simulate the kind of circumstance that will be encountered after the model is made available for use in real-time.

How the data is splited into ratios

The key goal of choosing the splitting ratio is to ensure that the overall trend of our original dataset is present in all three sets. It is feasible that we will choose a model that is skewed towards the patterns found solely in the dev set if our dev set contains very little data. The same is true for training sets; too little data will cause the model to be biassed toward certain trends that are unique to that subset of the dataset.

The models we use are merely estimators that are trained to recognise statistical patterns in the data. Therefore, it is crucial that the statistical distributions of the data used to learn and those used to validate or test the model are as close as possible. Choosing the subsets — in this case, the training set, the development set, and/or the test set — at random is one approach to accomplish this as perfectly as you can. The properties of the train set and the dev/test set will not match, for instance, if you are working on a face identification project and the dev/test images were acquired from a user's cell phone while the training images were taken from the web.

Using the train test split method twice is one technique to partition the dataset into the train, test, and cv with 0.6, 0.2, and 0.2 ratios:

from sklearn.model_selection import train_test_split 
x, x_test, y, y_test = train_test_split (x_train,labels, test_size=0.2, train_size=0.8 )
x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25, train_size =0.75)

### Q5: What is SciKit?
Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. Through a consistent Python interface, it offers a variety of effective methods for statistical modelling and machine learning, including classification, regression, clustering, and dimensionality reduction. This Python-based library is based on NumPy, SciPy, and Matplotlib.

## 4. DATA ANALYSIS NARRATIVE (25 points)

- this is purely theoretical task, NO CODING required
- please use provided PDF file DATA_FINAL_ASSESSMENT_Q4.pdf with the actual task descritpion and graphs /plots
- write your answers here in the Jyputer Notebook using a markdown cell. 
 
 1. Data sample(Head call)
It can be observed that Men's who are  21 years old and women's who are 23 years old are having the highest spending score and in contrast to them who's age is less than the 20 in both genders are having the least spending score.

2. Gender Distribution
In this graph it is clearly illustrated as female population is higher than male population who visits to the shopping centre.

3. Customer ages
In this graph it can be observed that people who are of age 31 marked as the most visited age groups compared to others. Where as people of age 19 and 49 are the second most visited age groups in addition to that people who are of age 55 marked as the least visited customers.